#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  text-decoration: underline;
  color: black;
  padding: 20px;
}

#game-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.game-panel {
  border: 2px solid black;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  background-color: #656161;
}

.game-panel .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.game-panel .header {
  min-width: 450px;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  border-bottom: 2px solid black;
  border-radius: 20px 20px 0 0;
  background-color: rgb(139, 72, 177);
  padding-left: 10px;
}

.buttons {
  display: flex;
  padding: 5px;
  gap: 5px;
}

.minimize-btn:hover {
  background-color: rgb(227, 223, 150);
  color: black;
}

.close-btn:hover {
  background-color: rgb(229, 124, 124);
  color: black;
}

.minimize-btn {
  background-color: rgb(42, 39, 39);
}

.close-btn {
  background-color: rgb(42, 39, 39);
}

.solutions-panel {
  border: 2px solid black;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  background-color: #656161;
}

.solutions-panel h3 {
  margin: 0px;
  padding: 2px;
}

.solutions-panel .header {
  min-width: 330px;
}

.game-btns-panel {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  background-color: #656161;
}

.game-btn-container {
  display: flex;
  padding: 10px;
  gap: 10px;
  justify-content: center;
}

.game-btns-panel button {
  display: flex;
  justify-self: center;
  width: 80%;
}

.game-btn-container button:hover {
  background-color: rgb(49, 16, 69)
}

.card {
  border: 2px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-selected {
    transform: translate(3px, 3px);
    box-shadow: 
        inset 4px 4px 6px rgba(0, 0, 0, 0.5),
        0px 0px 6px rgba(255, 255, 255, 0.9);
    
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.solution-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  padding: 10px;
  margin: 10px;
  background: rgba(165, 152, 165, 0.603);
  border-radius: 8px;
  border: 1px dashed #666;
}